#graph {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  width: 800px;
  height: 800px;
  animation: show .5s ease;
  -webkit-animation: show .5s ease;
  /*border: 1px solid;*/
}

#graph > .info {
  position: absolute;
  right: 0;
  top:100px;
  width: 200px;
  padding: 10px;
  color: white;
}
#graph > .info > div {
  margin: 10px;
}

#graph .agents > div {
  margin: 10px;
}

#graph .info::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .3;
  z-index: -1;
}

#graph .flip {
  position: absolute;
  right: 0;
  top:150px;
  width: 200px;
  height: 200px;
  margin: 2px;
  border: 1px solid;
  display: none
}

#graph .graphView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#graph .agentPair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@keyframes show {
  0% {opacity: 0; transform: translateX(25px)}
  100% {opacity: 1;}
}
@-webkit-keyframes show{
  0% {opacity: 0; transform: translateX(25px)}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0; transform: translateX(25px)}
}
@-webkit-keyframes hide{
  0% {opacity: 1; }
  100% {opacity: 0; transform: translateX(25px)}
}